<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head') %>
</head>
<body>
    <div class="root">
        <header class="header"></header>
        <main class="main">
            <div class="main-container">
                <%- include('../partials/navbar') %>
                <div class="main-inner">
                    <article class="creator"><%= creator %></article>
                </div>
            </div>
        </main>
        <footer class="footer"></footer>
    </div>
</body>
</html>