<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <%- include('../partials/navbar'); %>
    <div class="root">
        <div class="error">
            <div class="error-inner">
                <div class="error-text">You are on the Error Page. Congratulations!</div>
            </div>
        </div>
    </div>
</body>
</html>