<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="root">
        <header class="header"></header>
        <main class="main">
            <div class="main-container">
                <div class="main-inner">
                    <%- include('../partials/navbar'); %>
                    <div class="user-info">
                        <article class="user-info-id"><%= id %></article>
                        <article class="user-info-name"><%= name %></article>
                    </div>
                </div>
            </div>
        </main>
        <footer class="footer"></footer>
    </div>
</body>
</html>