<ul class="nav">
    <li class="nav-item">
      <a class="nav-link <% if (active === 'bio') { %>active<% } %>" id="bio" href="./bio">Biography</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if (active === 'authors') { %>active<% } %>" id="authors" href="./authors">Creators</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active === 'reqMethods') { %>active<% } %>" id="reqMethods" href="./reqMethodsMain">Request Methods</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="reqMethods" href="./api/sites">Sites API</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if (active === 'index') { %>active<% } %>" id="home" href="./">Home</a>
    </li>
</ul>