<ul class="nav">
    <li class="nav-item">
      <a class="nav-link <% if (active === 'bio') { %>active<% } %>" href="/bio">Biography</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if (active === 'authors') { %>active<% } %>" href="/authors">Authors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active === 'reqMethods') { %>active<% } %>" href="/reqMethodsMain">Request Methods</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active === 'sitesAPI') { %>active<% } %>" href="/api/sites">Sites API</a>
    </li>
    <li class="nav-item">
        <a class="nav-link <% if (active === 'users') { %>active<% } %>" href="/users/12345/Viktoria">User example</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <% if (active === 'index') { %>active<% } %>" href="/">Home</a>
    </li>
</ul>