<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body>
    <div class="root">
        <header class="header"></header>
        <main class="main">
            <div class="main-container">
                <div class="main-inner">
                    <%- include('../partials/navbar'); %>
                    <article class="creators">
                        <p><%= authorsList %></p>
                    </article>
                </div>
            </div>
        </main>
        <footer class="footer"></footer>
    </div>
</body>
</html>